{
  "ios": {
    "distributionCertificate": {
      "path": "./certs/dist_cert.p12",
      "password": "YOUR_P12_PASSWORD_HERE"
    },
    "provisioningProfilePath": "./certs/rawabi.mobileprovision"
  }
}
